<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document)
            .ajaxStart(function () {
                //ajax request went so show the loading image
                $('#loadergsrep').show();
            })
            .ajaxStop(function () {
                //got response so hide the loading image
                $('#loadergsrep').hide();
            });
    </script>
    <style>
        /*.dataTables_filter {
            float: left !important;
        }
            .dataTables_filter input {
               margin-left: 7.5em !important;
            }*/
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            display: none;
        }
    </style>
</head>
<body>


    <div class=" main" style="width:100%;  padding:4px; margin:0; ">



        <div class="breadcrumb flat">
            <a href="#" style="cursor: default">
                <em class="fa fa-home"></em>
            </a>

            <a href="#" style="cursor: default" class="active">Rapiddata</a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">

                RapiData

            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <label for="name" translate="Department">Department</label>
                    <input type="text" placeholder="Enter Reference No" class="form-control txtbox-style" id="Department" name="Department" value="" />
                </div>
                <div class="col-md-3">
                    <label for="name" translate="Employee Name">Employee Name</label>
                    <input type="text" placeholder="Enter Name" class="form-control txtbox-style txtOnly" id="Employee" name="Employee" value="" maxlength="40" />
                </div>

                <div class="col-md-2" style="padding-top:29px; text-align:left;">
                    <button type="submit" class="btn btn-primary" onclick="GetReport();">Search</button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="name" translate="Status">Status</label>
                    <select type="date" class="form-control txtbox-style" id="theStatus" name="theStatus" style="height:40px;">
                        <option value="0">All</option>
                        <option value="1">In Progress</option>
                        <option value="2">Completed</option>
                        <option value="3">Rejected</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="name" translate="Location">Location</label>
                    <input type="text" placeholder="EnterLocation" class="form-control txtbox-style" id="Location" name="Location" value="" />
                </div>
            </div>
            <div class="panel-body" style="padding-top:0; margin-top:0;">
                <div class="row">

                    <div id="exButtons" class="small-6 columns"></div>

                    <div class="col-md-12">
                        <div class="data-table" style="width:100%; min-width:100%; position:relative;  ">
                            <table id="tbl_ReportDetails" class="display nowrap" style="width:100%; position:relative;  ">
                                <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Email</th>
                                        <th>Mobile Number</th>
                                        <th>College Name</th>
                                        <th>Department</th>
                                        <th>Location</th>
                                        <th>Year</th>
                                        <th>Resume</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <script type="text/javascript">
            $(document)
                .ajaxStart(function () {
                    //ajax request went so show the loading image
                    $('#overlay').css("display", "block");
                })
                .ajaxStop(function () {
                    //got response so hide the loading image
                    $('#overlay').css("display", "none");
                });




            $(document).ready(function () {
                /* $("#reference").prepend('<div id="tbl_ReportDetails_wrapper" class="dataTables_wrapper no-footer"><div id="tbl_ReportDetails_filter" class="dataTables_filter"><label><input type="search" class="" placeholder="Reference Number" aria-controls="tbl_ReportDetails"></label></div></div>');*/
                GetReport();
            });

            function GetReport() {
                debugger;

                var theStatusV = $("#theStatus").val();
                var empNameV = $("#Employee").val();
                var locaV = $("#Location").val();
                var departV = $("#Department").val();
                var DataBody = {
                    Status: theStatusV,
                    name: empNameV,
                    location: locaV,
                    department: departV
                };

                $.ajax({
                    url: "/Home/getregisterdetails",
                    data: DataBody,
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    success:
                        function (data) {
                            console.log(data);

                            $('#tbl_ReportDetails').find('tbody').children('tr').remove();

                            LoadDTable(data);
                        },
                    error:
                        function (err) {
                            debugger;
                            console.log(err);
                        },
                    complete: function (e) {
                        debugger;
                        console.log(e);
                        $("#theStatus").val("");
                        $("#Location").val("");
                        $("#fromdate").val("");
                        $("#Employee").val("");
                        $("#Department").val("");

                    }
                });
            }





            function LoadDTable(data) {
                var tbl_ReportDetails = $('#tbl_ReportDetails').DataTable();

                if ($.fn.dataTable.isDataTable('#tbl_ReportDetails')) {
                    tbl_ReportDetails = $('#tbl_ReportDetails').DataTable().destroy();
                }

                console.log(JSON.stringify(data));


                if (data != null && data != "0") {

                    tbl_ReportDetails = $('#tbl_ReportDetails').DataTable({

                        "data": data,
                        "order": [],
                        "scrollX": true,
                        "scrollY": true,
                        searching: false,
                        language: {
                            searchPlaceholder: "ReferenceNo",
                            search: ""
                        },
                        "bLengthChange": false,
                        dom: 'lBfrtip',
                        "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
                        buttons: [
                            {
                                extend: 'excelHtml5',
                                text: "Download Excel",

                                title: "Housing Report",
                                filename: 'Housing Report'
                            }



                        ],
                       "columns": [
                    { "data": "name" },
                    { "data": "workemail" },
                    { "data": "Mobilenumber" },
                    { "data": "collegeName" },
                    { "data": "department" },
                    { "data": "location" },
                    { "data": "year" },
                    {
                        "data": "url",
                        "render": function (data, type, row) {

                            return '<a id="lnk" class="btn btn-info" role="button" href=' + data +' target="_blank">View Resume </a>'


                        }
                    },

                    {
                        "data":"employeeid" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Employee")/" + data + "')> Selected </a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")> Rejected </a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],

                       "columnDefs": [
                            {
                                "targets": [0],
                                "visible": true,
                                "searchable": true
                            },
                            {
                                "targets": [1],
                                "visible": true,
                                "searchable": false
                            },
                            {
                                "targets": [2],
                                "visible": true,
                                "searchable": false
                            },
                            {
                                "targets": [3],
                                "visible": true,
                                "searchable": false
                            }
                            ,
                            {
                                "targets": [4],
                                "visible": true,
                                "searchable": false
                            }
                            ,
                            {
                                "targets": [5],
                                "visible": true,
                                "searchable": false
                            },
                            {
                                "targets": [6],
                                "visible": false,
                                "searchable": false
                            },
                            {
                                "targets": [7],
                                "visible": true,
                                "searchable": false
                            },
                            {
                                "targets": [8],
                                "visible": true,
                                "searchable": false
                            }
                        ]
                    });


                }
                else {
                    tbl_ReportDetails = $('#tbl_ReportDetails').DataTable();
                    tbl_ReportDetails.clear().draw();
                }
            }


        </script>

    </div>

</body>
</html>
