



@{
    ViewBag.Title = "GET Rejected Records";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<h1>Rejected Records</h1>

<div class="breadcrumb flat">
    <a href="#" class="mx-1"style="cursor: default">
        <em class="fa fa-home"></em>
    </a>

    @Html.Partial("~/Views/Shared/_submenu.cshtml")
</div>
<style>
    table {
        /*table-layout: fixed;
        word-wrap: break-word;*/
    }
</style>
<div class="panel panel-default">

    <br />
    @if (Convert.ToBoolean((Session["RoleName"].ToString()) == "SuperAdmin"))
    {<span id="excBound"></span><br /><br />}



        <table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    @if (Convert.ToBoolean((Session["RoleName"].ToString()) == "SuperAdmin"))
                    {<td><input type="checkbox" id="checkAll" onclick="checkAll()" /></td>}
                    <th>Names</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>College Name</th>
                    <th>Department</th>
                    <th>Location</th>
                    <th>Year</th>
                    @if (Convert.ToBoolean((Session["RoleName"].ToString()) == "SuperAdmin"))
                    {
                        <th>Resume</th>
}
                    <th></th>
                </tr>
            </thead>
        </table>


        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

        @section scripts{

            <script src="~/Scripts/jquery.js"></script>
            <script src="~/Scripts/jquerydatatable.js"></script>
            <script src="~/Scripts/dataTables.buttons.min.js"></script>
            <script src="~/Scripts/jszip.min.js"></script>
            <script src="~/Scripts/pdfmake.min.js"></script>
            <script src="~/Scripts/vfs_fonts.js"></script>
            <script src="~/Scripts/buttons.html5.min.js"></script>
            <script src="~/Scripts/buttons.print.min.js"></script>
            <script href="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>






            <script>

                var Popup, dataTable;
                $(document).ready(function () {
                    debugger;
                    var theStatusV = $("#theStatus").val();
                    var empNameV = $("#Employee").val();
                    var locaV = $("#Location").val();
                    var departV = $("#Department").val();
                    var DataBody = {
                        Status: theStatusV,
                        name: empNameV,
                        location: locaV,
                        department: departV
                    };
                    dataTable = $("#employeeTable").DataTable({

                        "scrollX": true,
                        "ajax": {
                            "url": "/Home/getRejectedregisterdetails",
                            "type": "GET",
                            "datatype": "json",

                        },

                        "dom": 'Bfrtip',
                        "lengthMenu": [[100, 200, 250, 500], [100, 200, 250, 500]],
                        "buttons": [

                            {
                                "extend": 'excelHtml5',
                                "text": "Export To Excel",
                                "exportOptions": {
                                    "exportOptions": [0, ':visible'],
                                    "columns": [0, 1, 2, 3, 4, 5, 6, 7],
                                    "filename": 'Candidate Report'
                                }
                            },

                        ],

                        "columns": [
                            {
                                "data": "employeeid", "render": function (data) {

                                    return ' @if (Convert.ToBoolean((Session["RoleName"].ToString()) == "SuperAdmin")){<td><input type="checkbox" style="margin-left:7px;" class="checkBoxClass" id="checkbox' + data + '" name="datarows" value=' + data + ' onclick="getCheckedData()" /></td>}'
                                }
                            },

                            { "data": "name" },
                            { "data": "workemail" },
                            { "data": "Mobilenumber" },
                            { "data": "collegeName" },
                            { "data": "department" },
                            { "data": "location" },
                            { "data": "year" },
                            {
                                "data": "url",
                                "render": function (data, type, row) {

                                    return '@if (Convert.ToBoolean((Session["RoleName"].ToString()) == "SuperAdmin")){<a id="lnk" class="btn btn-info" role="button" href=' + data + ' target="_blank">View Resume </a>}'


                                }
                            },

                            {
                                "data": "employeeid", "render": function (data) {
                                    return "@if (Convert.ToBoolean((Session["RoleName"].ToString()) == "SuperAdmin")){<a class='btn btn-success btn-sm' onclick=Select(" + data + ")> Selected </a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Reject(" + data + ")> Rejected </a>}";
                                },
                                "orderable": false,
                                "searchable": false,
                                "visible": false,
                                "width": "150px"
                            }

                        ],
                        "language": {

                            "emptyTable": "No data found!!!"
                        }
                    });
                });


                $(document).ready(function () {
                    $("#checkAll").click(function () {
                        if (this.checked) {
                            $('.checkBoxClass').each(function () {
                                $(".checkBoxClass").prop('checked', true);
                                getCheckedData();
                            })
                        } else {
                            $('.checkBoxClass').each(function () {
                                $(".checkBoxClass").prop('checked', false);
                            })

                            var SelectAll = document.getElementById("SelectAll");


                            SelectAll.remove();
                            //exports.remove();
                        }
                    });
                });

                function getCheckedData() {
                    var exclude = document.getElementById("excBound");

                    var flag = 0;
                    if (exclude.hasChildNodes()) {
                        flag = 1;
                    }
                    else {


                        var exc = document.createElement('button');
                        exc.setAttribute('class', 'btn btn-success btn-lg');
                        exc.setAttribute('id', 'SelectAll');
                        exc.setAttribute('onclick', 'excludeselectitems()');
                        exc.setAttribute('style', 'margin-left:5px');
                        exc.innerHTML = "Flip to Select";
                        excBound.appendChild(exc);



                    }
                }

                function excludeselectitems() {
                    if (confirm('Are You Sure to Select this Resume ?')) {
                        var array = [];
                        $.each($("input[name='datarows']:checked"), function () {
                            array.push($(this).val());
                        });
                        $.ajax({
                            url: "/home/selectitems",
                            method: "post",
                            dataType: "json",
                            data: { esid: array },
                            success: function (data) {
                                if (data.success) {
                                    dataTable.ajax.reload();

                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"
                                    })

                                }
                            }
                        });
                    }

                }


            </script>
        }
















